/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/cta
 * -----------------------------------------------------------------------------
 */

.btn-cta {
  @extend %btn;
  @extend %p-4x;
  @extend %mx-auto;
  align-items: center;
  align-self: center;
  background-color: $color-green;
  border-radius: 5000px;
  border: none;
  color: $color-white;
  display: flex;
  @include font-medium();
  @include font-size($fs-sm);
  justify-content: center;
  height: 48px;
  max-width: 245px;
  text-align: center;
  width: auto;
  transition: background-color .16s ease-out;

  &:hover {
    background-color: $color-grey;
  }
}