/**
 * -----------------------------------------------------------------------------
 * File: component/alerts
 * -----------------------------------------------------------------------------
 *
 */

.alert {
  max-width: 480px;

  &.alert--danger {
    color: $color-danger;
  }

  &.alert--success {
    border-color: $color-success;
    color: $color-success;
  }

}