/**
 * -----------------------------------------------------------------------------
 * File: typo/sizes
 * -----------------------------------------------------------------------------
 *
 */

$fs-xs: (
  null: (16px,1.5),
  sm:   (16px,1.5),
  md:   (16px,1.5),
  lg:   (16px,1.5),
);

$fs-sm: (
  null: (18px,1.33),
  sm:   (18px,1.33),
  md:   (18px,1.33),
  lg:   (18px,1.33),
);

$fs-md: (
  null: (21px,1.5),
  sm:   (21px,1.5),
  md:   (21px,1.5),
  lg:   (21px,1.5),
);

$fs-lg: (
  null: (24px,1.5),
  sm:   (24px,1.5),
  md:   (24px,1.5),
  lg:   (24px,1.5),
);

$fs-xl: (
  null: (24px,1.25),
  sm:   (32px,1.25),
  md:   (32px,1.25),
  lg:   (32px,1.25),
);