/**
 * -----------------------------------------------------------------------------
 * File: layout/menu/global
 * -----------------------------------------------------------------------------
 */

nav.meta {
  a {
    color: $color-grey;
    display: inline-block;

    &:hover {
      color: $color-green;
    }
  }
}