/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

// Application
$color-black:      #000000;
$color-dark:       #130F0F;
$color-grey:       #606060;
$color-light-grey: #E3E3E3;
$color-light:      #FBFCFD;
$color-white:      #ffffff;
$color-green:      #009B68;
$color-red:        #BF0603;

// Alerts / Notifications
$color-danger:  red;
$color-success: green;
$color-info:    yellow;


$color-mennekes: #D9073A;
$color-help: #1D8649;

