/**
 * -----------------------------------------------------------------------------
 * File: config/spaces
 * -----------------------------------------------------------------------------
 */

// $space-tiny: 2px;
$space-1x:   2px;
$space-2x:   4px;
$space-3x:   6px;
$space-4x:   8px;
$space-5x:  10px;
$space-6x:  12px;
$space-7x:  14px;
$space-8x:  16px;
$space-9x:  18px;
$space-10x: 20px;
$space-11x: 22px;
$space-12x: 24px;
$space-13x: 26px;
$space-14x: 28px;
$space-15x: 30px;
$space-16x: 32px;
$space-17x: 34px;
$space-18x: 36px;
$space-19x: 38px;
$space-20x: 40px;
$space-21x: 42px;
$space-22x: 44px;
$space-23x: 46px;
$space-24x: 48px;
$space-25x: 50px;