/**
 * -----------------------------------------------------------------------------
 * File: layout/base
 * -----------------------------------------------------------------------------
 */

html {
	overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
	background-color: $color-white;
	color: $color-dark;
  display: flex;
  flex-direction: column;
  @include font-smoothing();
	@include font-regular();
	@include font-size($fs-xs);
  min-height: 100vh;
	position: relative;
}

// Scrollbars
@include scrollbar(7px, #bbb);