/**
 * -----------------------------------------------------------------------------
 * File: layout/header
 * -----------------------------------------------------------------------------
 */

header.site-header {
  border-bottom: 1px solid $color-light-grey;
  height: $header-height;
  width: 100%;

  @include bp-sm() {
    height: $header-height-sm;
  }

  > div {
    @extend %inner-block;
    @extend %flex;
    @extend %flex-row;
    @extend %items-center;
    @extend %justify-between;
    height: inherit;
    position: relative;

    @include bp-sm() {
      justify-content: center;
    }

    > div {
      @extend %flex;
      @extend %flex-column;
      @extend %sm\:flex-row;
      @extend %items-center;
      @extend %justify-center;
      height: inherit;
      @include bp-sm() {
        max-width: 360px;
      }
    }
  }
}