/**
 * -----------------------------------------------------------------------------
 * File: layout/main
 * -----------------------------------------------------------------------------
 */

main.site {
  @include bp-md() {
    flex: 1;
    position: relative;
  
    &:after {
      background-color: $color-light;
      border-left: 1px solid $color-light-grey;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0; 
      width: 50%;
      z-index: -1;
    }
  }
}
