/**
 * -----------------------------------------------------------------------------
 * File: views/configurator
 * -----------------------------------------------------------------------------
 *
 */

.configurator {
  @extend %md\:flex;
  
  &__filter,
  &__result {
    @include bp-md() {
      width: 50%;
    }
  }

  &__filter {
    @extend %pt-10x;
    @extend %sm\:pt-16x;
    @extend %md\:pt-8x;

    > div {
      @extend %md\:pl-8x;
      @extend %md\:pr-8x;
      @extend %md\:pb-8x;
    }

    @include bp-md() {
      display: flex;
      justify-content: flex-end;
  
      > div {
        max-width: 700px;
        width: 100%;
      }
    }
    
    h1 {
      text-align: center;
    }
  }

  &__result {
    background-color: $color-light;

    header {
      @extend %pt-6x;
      @extend %md\:pt-8x;
      @extend %pb-5x;
      @extend %sm\:pb-7x;
      @extend %mb-8x;
      border-bottom: 1px solid $color-light-grey;
    }

    > header,
    > div {
      @extend %pl-4x;
      @extend %pr-4x;
      @extend %sm\:pl-6x;
      @extend %sm\:pr-6x;
      @extend %md\:pl-8x;
      @extend %md\:pr-8x;
    }

    > div {
      @extend %pb-8x;
    }

    @include bp-md() {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      header {
        width: 100%;
      }
    }

    a:not(.btn-primary):not(.btn-secondary) {
      color: $color-green;
    }
  }
}

/** 
 Selector and pointers
 */

.selector {
  @extend %mx-auto;
  margin-top: $space-12x;
  position: relative;

  &.is-mobile {
    display: block;
    height: 1180px;
    width: 100%;

    @include bp-sm() {
      display: none;
    }

    > div {
      display: flex;
      position: relative;

      &.is-right {
        justify-content: flex-end;
      }

      &.is-left {
        justify-content: flex-start;
        top: -64px;
      }
    }

    // Visual Powerbox
    img {
      display: block;
      position: relative;
      height: 590px;
      width: 320px;

      @include bp-sm() {
        display: none;
      }
    }
  }

  &.is-tablet,
  &.is-desktop {
    display: none;
    height: 275px;
    width: 275px;

    @include bp-sm() {
      display: block;
      height: 480px;
      width: 480px;
    }
  
    @include bp-lg() {
      height: 590px;
      width: 590px;
    }

    // Visual Powerbox
    img {
      display: none;
      height: inherit;
      width: inherit;

      @include bp-sm() {
        display: block;
      }
    }

  }

  // Pointers
  &__pointer {
    display: block;
    position: absolute;
    width: auto !important;

    > div {
      @extend %flex;
      @extend %items-center;

      svg {
        flex-shrink: 0;
        position: relative;
        z-index: 5;
      }
    }

    .select {
      background-color: $color-green;
      border-radius: 5000px;
      display: flex;
      flex-shrink: 0;
      height: 30px;
      position: relative;
      width: 60px;
      z-index: 10;

      &.is-selected {
        height: 38px !important;
        width: 58px !important;

        label {
          display: block;
        }
      }

      label { 
        @include font-bold();
        @include font-size($fs-xs);
        display: none;
        min-width: 100px;
        position: absolute;
        top: 6px;

        &.is-right {
          padding-left: 12px;
          right: 0;
          transform: translateX(100%);
        }

        &.is-left {
          padding-right: 12px;
          left: 0;
          transform: translateX(-100%);
          text-align: right;
        }
      }
    
      &:after {
        @include background-default();
        background-image: url($url-images + 'chevron-down.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 16px 16px;
        background-color: transparent;
        content: '';
        height: 100%;
        right: 10px;
        padding: 0;
        position: absolute;
        top: 0;
        width: 16px;
        z-index: 5;
      }
    
      select {
        background-color: $color-green;
        border: none;
        border-radius: 5000px;
        color: $color-white;
        display: block;
        @include font-bold();
        @include font-size($fs-xs);
        padding: 0 12px 0 15px;
        text-align: center;
        width: 100%;

        @include bp-sm() {
          padding-left: 0;
        }
    
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

/** SVG Element classes for pointer **/
.selector__pointer {

  .fill-100 {
    fill: $color-green;
  }
  
  .fill-30 {
    fill: $color-green;
    fill-opacity: .3;
  }
  
  .fill-none {
    fill: none;
  }
  
  .stroke {
    stroke: $color-green;
  }
  
  .stroke-w2 {
    stroke-width: 2;
  }
  
  .stroke-50 {
    stroke-opacity: .5;
  }

  // Classes for a disabled pointer
  &.is-disabled {
    .select {
      background-color: #ccc !important;
      select {
        background-color: #ccc !important;
        color: #eee;
        pointer-events: none;
        user-select: none;
      }
    }

    .fill-100 {
      fill: #ccc;
    }
    
    .fill-30 {
      fill: #ccc;
    }
    
    .stroke {
      stroke: #ccc;
    }
  }

  .select.is-disabled {
    background-color: #ccc !important;
    select {
      color: #eee;
      pointer-events: none;
      user-select: none;
    }
  }

}


/** FI/LS **/
.selector__pointer.is-fi_ls {
  height: 38px;
  right: 74px;
  top: 105px;

  svg {
    left: -4px;
  }

  .select {
    height: 38px;
    width: 104px;
  }

  @include bp-sm() {
    right: 276px;
    top: 83px;
  }

  @include bp-lg() {
    right: 343px;
    top: 104px;
  }
}

/** 16A T25 **/
.selector__pointer.is-ch_16a_t25 {
  height: 38px;
  right: 75px;
  top: 234px;
  width: 214px;

  svg {
    left: -4px;
  }

  .select {
    height: 38px;
    width: 115px;
  }

  @include bp-sm() {
    right: 277px;
    top: 186px;
  }

  @include bp-lg() {
    right: 345px;
    top: 234px;
  }
}

/** CEE 16A 3P **/
.selector__pointer.is-cee_16a_3p {
  height: 38px;
  right: 62px;
  top: 382px;
  width: 221px;

  svg {
    left: -4px;
  }

  .select {
    height: 38px;
    width: 139px;
  }

  @include bp-sm() {
    right: 265px;
    top: 307px;
  }

  @include bp-lg() {
    right: 333px;
    top: 380px;
  }
}

/** Data ports **/
.selector__pointer.is-data_ports {
  height: 38px;
  right: 58px;
  top: 487px;
  width: 231px;

  .select {
    height: 38px;
    left: 12px;
    top: -1px;
    width: 141px;

    @include bp-sm() {
      left: 32px;
    }

    @include bp-lg() {
      left: 12px;
    }
  }

  @include bp-sm() {
    right: 264px;
    top: 393px;
  }

  @include bp-lg() {
    right: 334px;
    top: 488px;
  }
}

/** CEE 63A 5P, 32A 5P, 16A 5P **/
.selector__pointer.is-cee_63a_32a_16a_5p {
  height: 138px;
  left: 64px;
  top: 388px;
  width: 222px;

  svg {
    left: 0;

    @include bp-sm() {
      left: 8px;
    }

  }

  .select {
    left: -12px;
    height: 38px;
    top: -4px;
    width: 144px;
    
    + .select {
      top: 8px;

      + .select {
        top: 20px;
      }
    }
  }

  @include bp-sm() {
    left: 260px;
    top: 312px;
  }

  @include bp-lg() {
    left: 325px;
    top: 386px;
  }
}

/** FI Switch **/
.selector__pointer.is-fi_switch {
  height: 107px;
  left: 8px;
  top: 180px;
  width: 277px;

  > div {
    align-items: flex-start;
  }

  .select {
    height: 38px;
    left: -6px;
    top: -15px;
    width: 140px;

    @include bp-sm() {
      left: -24px;
    }
  }

  @include bp-sm() {
    left: 222px;
    top: 130px;
  }

  @include bp-lg() {
    left: 280px;
    top: 179px;
  }
}

/** FI Switch **/
.selector__pointer.is-ch_16a_t23 {
  height: 89px;
  left: 78px;
  top: 236px;
  width: 210px;

  > div {
    align-items: flex-end;
  }

  .select {
    height: 38px;
    left: -32px;
    top: 16px;
    width: 115px;
  }

  @include bp-sm() {
    left: 280px;
    top: 186px;
  }

  @include bp-lg() {
    left: 348px;
    top: 235px;
  }
}

/** Product **/
.product {  
  @extend %pb-8x;

  @include bp-sm() {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  &:not(:last-of-type) {
    @extend %mb-8x;
    border-bottom: 1px solid $color-light-grey;
  }

  figure {
    @extend %mb-8x;
    @extend %sm\:mr-8x;

    img {
      @extend %is-responsive;
      // max-width: 125px;
      // margin-left: auto;
      // margin-right: auto;
    }
  }

  h3 {
    @extend %mb-4x;
    @include font-bold();
    @include font-size($fs-md);
    line-height: 1.2 !important;
  }

  p {
    //@extend %mb-16x;
    color: $color-grey;
    @include font-size($fs-sm);
  }

}