/**
 * -----------------------------------------------------------------------------
 * File: views/duoi
 * -----------------------------------------------------------------------------
 */

/** DUOi Selector overrides **/
.selector--duoi {

  &.is-mobile {
    height: auto;
    padding-bottom: 30px;

    > img {
      display: block;
      height: auto;
      width: 100%;
      margin: 0 auto;
    }
  }

  &.is-tablet {
    height: 480px;
    width: 480px;

    @include bp-lg() {
      height: 590px;
      width: 590px;
    }
  }
}

/** DUOi pointer positions – mobile **/
.selector--duoi.is-mobile {

  .selector__pointer {
    left: 10px !important;
    right: 10px !important;
    width: auto !important;

    > div {
      min-width: 240px;
      margin: 0 auto 10px auto;
      > svg {
        display: none;
      }
    }

    .select {
      width: 100% !important;
    }
  }
}

/** DUOi pointer positions – tablet / desktop **/
.selector--duoi.is-tablet {

  .selector__pointer.is-volt {
    left: 20px;
    top: 120px;

    svg {
      left: -4px;
    }

    .select {
      height: 38px;
      width: 100px;
    }

    @include bp-lg() {
      left: 60px;
      top: 140px;
    }
  }

  .selector__pointer.is-ampere {
    left: 10px;
    top: 230px;

    svg {
      left: -4px;
    }

    .select {
      height: 38px;
      width: 110px;
    }

    @include bp-lg() {
      left: 50px;
      top: 280px;
    }
  }

  .selector__pointer.is-pole {
    right: 40px;
    top: 110px;

    svg {
      right: -4px;
    }

    .select {
      height: 38px;
      width: 100px;
    }

    @include bp-lg() {
      right: 80px;
      top: 140px;
    }
  }

  .selector__pointer.is-schutzart {
    right: 10px;
    top: 195px;

    svg {
      right: -4px;
    }

    .select {
      height: 38px;
      width: 130px;
    }

    @include bp-lg() {
      right: 55px;
      top: 245px;
    }
  }

  .selector__pointer.is-hilfskontakt {
    right: 0px;
    top: 280px;

    svg {
      right: -4px;
    }

    .select {
      height: 38px;
      width: 150px;
    }

    @include bp-lg() {
      right: 50px;
      top: 350px;
    }
  }
}
