/**
 * -----------------------------------------------------------------------------
 * File: views/home
 * -----------------------------------------------------------------------------
 */

.home {
  @extend %pt-10x;
  @extend %sm\:pt-16x;
  @extend %pb-10x;
  @extend %sm\:pb-16x;
  max-width: 900px;
  margin: 0 auto;

  &__intro {
    text-align: center;
    @extend %mb-10x;
    @extend %sm\:mb-16x;
  }

  &__products {
    @extend %px-4x;
    @extend %sm\:flex;
    gap: 3rem;
    justify-content: center;
  }

  &__product-card {
    display: block;
    text-align: center;
    text-decoration: none;
    color: inherit;
    border: 1px solid $color-light-grey;
    border-radius: 8px;
    padding: 2rem;
    flex: 1;
    transition: border-color 0.2s, box-shadow 0.2s;
    @extend %mb-6x;

    @include bp-sm() {
      margin-bottom: 0;
    }

    &:hover {
      background-color: rgba($color-green, 0.1);
      border-color: $color-green;
    }

    figure {
      @extend %mb-6x;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    h2 {
      @extend %mb-2x;
    }

    p {
      @extend %mb-6x;
    }
  }

  h2 {
    @include font-bold();
    @include font-size($fs-md);
  }

  p {
    text-wrap: balance;
  }
}
